<h1>Listing articles</h1>

<%= link_to 'New proposal', new_proposal_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>


  <% @proposals.each do |proposal| %>
    <tr>
      <td><%= proposal.title %></td>
      <td><%= link_to 'Show', proposal_path(proposal) %></td>
      <% if user_signed_in? && current_user.id == proposal.user_id %>
      <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
      <td><%= link_to 'Destroy', proposal_path(proposal),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
