<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>

<p>
  <strong>Headquarters:</strong>
  <%= @proposal.headquarters %>
</p>

<p>
  <strong>Operations:</strong>
  <%= @proposal.operations %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @proposal.sector %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<%= link_to 'Back', proposals_path %>
